/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

/* Navigation Bar */
nav {
  background-color: whitesmoke;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  box-shadow: 0 0 10px gray;
  height: 70px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 5px;
  text-align: end;
}

nav ul li {
  display: inline;
  margin: 15px;
}

nav ul li a {
 
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}



/* Headings */
h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Form Styles */
form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  text-align: center;
  margin-left: 320px;

}

form input,
form textarea,
form select {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
}

form button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
button{
  text-decoration: none;
  padding: 5px;
  background-color: whitesmoke;
  margin: 15px;
  cursor: pointer;
  border-radius: 15px;
  

}
form button:hover {
  background-color: #0056b3;
}

/* Todo List */
ul {
  list-style-type: none;
  padding: 0;
  margin: 5px;
}

li {

  padding: 5px;
  background-color: whitesmoke;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
  
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li h3 {
  margin: 0;
  font-size: 20px;
}

li p {
  margin: 5px 0;
  color: #666;
}

/* Edit and Delete Buttons */
li button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

li button.delete-btn {
  background-color: #dc3545;
}

li button:hover {
  opacity: 0.9;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #007bff;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
